.projectCard{
    border-radius:2rem;
    width: 272px;
    cursor: pointer;
}



.projectCard > a > section:first-child{

    display: flex;
    justify-content: right;
    height: 168px;
    background: linear-gradient(0deg, rgba(242,241,252,1) 0%, rgba(0,56,107,0.3) 100%);
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    transition: border-radius 0.2s ease;
}


.projectCard > section:first-child:hover{
    border-radius: 0;
}


.projectCard p{
    margin: 0;
    padding-left: 1rem;
}

.projectCard p:first-child{
    color:#303030;
    font-weight: 600;
}
.projectCard p:last-child{
    color: gray;
}